<div class="row my-5" >
  <div class="col-12">
    <div class="container">
      <div id="about">
        <div class="about-cards">
          <div class="about-img">
            <%= image_tag 'about.png', alt: "personal photo", class: 'about-pic' %>
          </div>
          <div class="about-info ">
            <h2 class="sub-header">About Me</h2>
            <div class="text-muted">
              <p>I'm a Japanese fullstack web developer based in Tokyo.
                I studied in the USA and worked in Mexico. Fluent in three languages - Japanese, English, and Spanish</p>
              <p>In 2023, I completed coding bootcamp, and I love building web apps by Ruby on Rails. Outside of coding, I enjoy participating in sports such as football/soccer and boxing</p>
            </div>
            <div class="btn btn-main mt-3">
              <a href="#contact">Contact me</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
