<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2 class="about-me">About Me</h2>
        <div class="about-me-image">
          <div class="about-img">
            <%= image_tag '21558770_1137347193067299_395824138816420306_n.jpg', alt: "personal photo", class: 'about-pic' %>
          </div>
          <div class="about-info">
            <p>I'm a Japanese fullstack web developer based in Tokyo.
              I studied in the USA and worked in Mexico. Fluent in three languages - Japanese, English, and Spanish</p>
            <p>In 2023, I completed coding bootcamp, and I love building web apps by Ruby on Rails. Outside of coding, I enjoy participating in sports such as football/soccer and boxing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
