<div class="row justify-content-center banner">
  <div class="main-banner">
    <div class="left">
      <h1 class="title-main mb-3">Jun Ukemori</h1>
      <h3 class="mt-3">Fullstack Web Developer</h3>
    </div>
    <div class="right">
      <%= image_tag 'IMG_2561.jpg', alt: "profile photo", class: 'profile-pic' %>
    </div>
  </div>
</div>
