<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="title-main mb-3">Jun Ukemori</h1>
    <%= image_tag 'IMG_2561.jpg', alt: "profile photo", class: 'avatar' %>
    <p class="mt-3">Fullstack Web Developer</p>
  </div>
</div>
