<% data.projects.each do |project| %>
  <div class="card-project">
    <%= image_tag  project.main, class: "project-img"%>
    <div class="projects__modal">
      <span class="projects__subtitle">Web</span>
      <h2 class="projects__title">Modern website</h2>
      <a href="#" class="projects__button">
        View demo <i class="ri-external-link-line"></i>
      </a>
    </div>
  </div>
<% end %>
