<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="contact" >
        <h2 class="sub-header text-center">Contact</h2>
        <form name="contact" method="POST" data-netlify="true" class="contact-form">
          <div class="contact-group">
            <input type="text" name="name" placeholder="Enter your name" class="contact-input"/>
            <input type="email" name="email" placeholder="Enter your email" class="contact-input"/>
          </div>
          <textarea name="message" placeholder="Enter your message" class="contact-input"></textarea>
          <button type="submit" class="btn-flat contact-button">
            <p>Send Message</p>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
