<div class="card-product-infos">
  <h2><%= project.name %></h2>
  <p><%= project.description %></p>
  <div class="project-tags ">
    <% project.tags.each do |tag| %>
      <i class="<%= tag %>"></i>
    <% end %>
  </div>
  <div class="project-buttons ">
    <% if project.url %>
      <% link_to project.url, class: 'external-link', target: '_blank' do %>
        <div class="btn-flat">
          <p><i class="fas fa-external-link-alt"></i> Website</p>
        </div>
      <% end %>
    <% end %>
    <% if project.source %>
      <% link_to project.source, class: 'external-link', target: '_blank' do %>
        <div class="btn-flat">
          <p><i class="devicon-github-original"></i> Source Code</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
