<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="projects">
        <h2 class=project-header> Latest Work</h2>
        <div class="cards">
          <%= partial 'partials/card' %>
        </div>
      </div>
    </div>
  </div>
</div>
