<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="skills">
        <div class="skill-cards ">
          <div class="skill-card text-left">
            <h2 class="sub-header">My Skills</h2>
            <p class="text-muted">Fullstack development skills which enable efficient development, styling, data management, deployment, version control, and collaboration.</p>
            <div class="btn btn-main mt-3">
              <a href="#projects">See Projects</a>
            </div>
          </div>
          <div class="skill-card">
            <div class="skill-description">
              <% data.tools.each do |skill| %>
                <p > <i class="<%= skill.tag %>"></i> <%= skill.name %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
