#about {
  padding: 3rem 16%;
  background-color: white;
}

.about-me{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.about-me-image{
  display: grid;
  grid-template-columns: 40% 60%;
}

.about-img{
  padding: 1rem;
  img {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
}

.about-info {
  padding: 1rem;
}

.about-pic {
  width: 100%;
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #about {
    padding: 20px 5%;
    .about-me-image{
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px){
  #about {
    padding: 20px 5%;
  }
}
