#about {
  background-color: white;
}



.about-cards{
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.about-info {
  padding: 1rem;
}
.about-img {
  display: flex;
  align-items: center;
  justify-content: center;
  .about-pic {
    width: auto;
  }
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #about {
    .about-cards{
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  .about-me {
    font-size: 2rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px){
  #about {
    padding: 20px 5%;
  }
}
