.banner {
  height: 90vh;
}

.main-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}





// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .main-banner {
    display: flex;
    justify-content: center;
  align-items: center;
    flex-direction: column-reverse;
  }


  .banner {
    height: auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .main-banner {
    display: flex;
    justify-content: center;
  align-items: center;
    flex-direction: column-reverse;
  }

  .banner {
    height: auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .banner {
    height: 90vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .banner {
    height: 90vh;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 946px;
  }

  .banner {
    height: 90vh;
  }
}
