.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  background: white;
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.card-product {
  display: block;
  padding: 1rem;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  background: white;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}

.card-product img {
  padding: 2rem;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 2rem;
  font-weight: bold;

}

.card-product p {
  font-size: 1rem;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos .btn-flat {
  p {
    margin: 0;
  }
}

.card-product-infos {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-tags  {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  i {
    color: gray;
    margin: 0.5rem;
    font-size: 1.3rem;
  }
}

.project-buttons {
  display: flex;
}


.card-product .card-product-infos {
  padding: 2rem;
  height: 100%;
}

.external-link {
  margin-left: 8px;
  opacity: 1;
  text-decoration: none;
  transition: opacity 1s;
  &:hover {
    cursor: pointer;
    color: $gray
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-product {
    grid-template-columns: 1fr;
    img {
      width: 100%;
    }
  }
  .external-link {
    opacity: 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px){
  .card-product {
    grid-template-columns: 1fr;
    img {
      width: 100%;
    }
  }
  .external-link {
    opacity: 1;
  }
}
