.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar > .container-fluid {
  max-width: 940px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-right: 10rem;
}

.nav-link {
  color: black;
  font-weight: bold;
  transition: 0.3s ease;
  &:hover {
    color: $orange;
  }
}
