.project-header{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
}

#projects {
  padding: 3rem;
  background-color: white;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .project-header{
    font-size: 2rem;
  }
  #projects{
    padding: 1rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 768px){
  .project-header {
    font-size: 2rem;
    margin-bottom: 1.3rem;
  }
  #projects{
    padding: 1rem;
  }
}
