#skills {
  background-color: white;
}
.skill-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // margin: 1rem;
}



.skill-card {
  p {
    font-size: 1rem;
  }
}

.skill-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;



}




// Smallest device
@media (min-width: 100px) and (max-width: 575px) {

  .skill-cards {
    grid-template-columns: 1fr ;
    .skill-description{
      margin-top: 1rem;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 768px) {
  .skill-description{
    margin-left: 3rem;
  }
}
