#skills {
  background-color: white;
  padding: 3rem 10%;
}
.skill-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;
}

.skill-card {
  margin: 0.5rem;
  text-align: center;
  p {
    font-size: 2rem;
    i {
      font-size: 2rem;
    }
  }
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .skill-cards {
    grid-template-columns: 1fr 1fr;
    p {
      font-size: 1.5rem;
      i {
        font-size: 1.5rem;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .skill-cards {
    grid-template-columns: 1fr 1fr;
    // p {
    //   font-size: 1rem;
    //   i {
    //     font-size: 1rem;
    //   }
    // }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .skill-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .skill-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .skill-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
